 
/* We can choose fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Open+Sans:wght@300&display=swap');
h1 {
  font-family: 'Lobster', cursive;
}
h2 {
  font-family: 'Audiowide', cursive;
}
p {
  font-family: 'Open Sans', sans-serif;
}

/* THis will be the boxes opacity for the one box page, could maybe also do styleing for js function*/
.box1 {
  opacity: .7;
  z-index: -1;
}

/* Link ur picture for the homepage here */
.hero1 {
  background-image: url(../img/1.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
